name: Security scan

on:
  pull_request: {} # Should only be triggered on PR events

permissions:
  contents: read # Required to check out the repository
  issues: write # Required for TruffleHog to create issues in PRs
  pull-requests: write # Required to post comments in PRs
  security-events: write

jobs:
  security-scan:
    # uses: alecaugh/github-actions-sast/.github/workflows/security-scan.yml@main
    # with:
    #   fail-on-valid-secret: true # Fail secret-scan job when valid secret detected (recommended)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./checkov
        with:
          directory: .
          framework: terraform
          output_format: sarif

      - name: Post SARIF findings in the pull request
        uses: sett-and-hive/sarif-to-comment-action@v2
        if: success() || failure()
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # Default token has sufficient permissions
          repository: ${{ github.repository }}
          branch: ${{ github.head_ref }}
          pr-number: ${{ github.event.number }}
          sarif-file: results.sarif # Path to the SARIF file generated above
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif
          # Optional category for the results
          # Used to differentiate multiple results for one commit
          category: checkov-results